@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}
body{
  margin: 5px;
}
ul, li{
  list-style: none;
  padding-left: 0;
}

.menu{
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  justify-content: center;

}
#meal-title,
.menu a,
.meal-title a{
padding-right: 40px;
text-decoration: none;
color: gray;
font-size: 22px;
background-color: white;
}

#meal-special-proposition{
  padding-right: 10px;
  font-size: 20px;
}
.menu a:hover,
.meal-title a:hover,
.social-net a:hover,
.go-project-link a:hover{
  color: rgb(231, 99, 38);
  font-weight: bolder;
}
.go-project-link a{
  text-decoration: none;
  color:rgb(253, 0, 0);
}

#logo{
  width: 180px;
  height: 165px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.first-block,
.logo{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.flag{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap; 
  height: 5%;
}
.line-green{
  background-color: rgb(23, 126, 23);
  height: 5%;
  width: 70%;
 
}
.line-white{
  background-color: rgb(255, 255, 255);
  height: 5%;
  width: 5%;
}

.line-red{
  background-color: rgb(253, 0, 0);
  height: 5%;
  width: 25%;
}

.footer{
  background-color: rgb(23, 126, 23);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.contacts a{
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.contacts p{
font-size: 16px;
}

.cheif-img{
  width: 100px;
  padding-left: 18%;
}

/* special proposition page*/

.meal-title{
color: gray;
font-size: 22px;
background-color: white;
}
.main-picture{
  width: 100%;
}
li{
  list-style: none;
}
/*#meal-special-proposition{
color:  rgb(231, 99, 38);
}*/
.form-header{
font-size: 18px;
color:  rgb(231, 99, 38);
}
input[type=text]{
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.form-reservation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#number_of_guests{
  width: 75px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.submit-btn{
  background-color:  rgb(23, 126, 23);
  color:white;
  border: none;
  width:250px;
  height: 40px;
  border-radius: 3px;
}


/*review*/
.review{
background-color: rgb(250, 250, 250);
border-radius: 5px;
margin-left: 15px;
margin-bottom: 5px;
display: flex;
flex-direction: column;
align-content:center;
}
.review p{
  padding-left: 4px;
  padding-top: 4px;
  margin-bottom: 5px;
}
.date{
  color: green;
}
.star{
color: rgb(231, 99, 38);
}

/*About*/
.conteiner-about{
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.about-text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
}
.social-net,
.go-project-link{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  width:38%;
}
.social-net a{
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.picture-about{
  width:90%;
}
.about-link{
  font-size: 20px;
}



@media only screen and (max-width: 500px) {
  #logo{
    width: 120px;
    height: 105px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .menu a {
padding-right: 0;
}
  .menu{
    margin-bottom: 4%;
    align-items: center;
    flex-direction: column;
    justify-content: start; 
  }
  .main-picture{
width: 100%;
  }

  .menu a{
  font-size: 22px;
  margin-bottom: 20px;
  }
  .contacts p{
    font-size: 14px;
    margin-top: 1px;
  }

  .cheif-img {
    width: 100px;
    padding-left: 0;
    margin-bottom: 5px;
}
.picture-about{
  width:100%;
}
.about-text{
width: 80%;
}
.contacts{
display: flex;
align-items: center;
flex-direction: column;
justify-content: start; 
margin-top: 5px;

}

.footer{
  
  flex-direction: column;
}

.social-net,
.go-project-link{
  width:90%;
}

#number_of_guests{
  width: 72px; 
}

}